.main{
    padding: 4rem 10rem 1rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleDiv{
    background: #57BC90;
    width: 100%;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.1rem 0;
}

.titleDiv h1{
    padding: 4rem 1rem 1rem 1rem;
    color: white;
}

.pageContent{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.progressBar{
    background: gray;
    width: 40rem;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-left: 0.5rem;
}

.calculatorBody{
    background: #D2EDE3;
    display: flex;
    flex-direction: column;
    padding: 3rem 10rem 4rem 10rem;
    border-radius: 0.75rem;
    width: 100%;
}

.formDiv{
    padding: 2rem;
}

.form{
    background: white;
    border-style: solid;
    border-radius: 0.75rem;
    padding: 0.5rem 0 0.5rem 2rem;
    margin: 1rem;

}

.button{
    color: white;
    background: #57BC90;
}