/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:wght@200;400;600;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /*padding-top: 60px;*/
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-shape-divider-bottom-1648382942 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648382942 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 358px;
}

.custom-shape-divider-bottom-1648382942 .shape-fill {
  fill: #FFFFFF;
}


