.navbar {
  border-bottom: solid 1px #eaeaea;
  position: sticky;
  top: 0;
}

.nav {
  width: 200px;
}

.navFont {
  font-weight: normal;
  font-size: 25px;
  margin-right: 25%;
}

.navFont:hover {
  border-bottom: solid 1px black;
}

.img {
  height: 100px;
  width: 130px;
}
