.container {
  padding: 0 0;
}

.main {
  flex-direction: column;
}

.summary {
  background: rgb(87,188,144);
  background: linear-gradient(90deg, rgba(87,188,144,1) 0%, rgba(119,201,212,1) 100%);
  padding: 3rem 3rem;
  display: flex;
  max-height: 40rem;
  justify-content: space-between;
}

.summaryHeader{
  color: white;
  text-transform: uppercase;
  font-size: 48pt;
}

.leftSideHeader{
  padding: 3rem 0;
}

.summaryPara{
  max-width: 50%;
  color: white;
  font-size: 17pt;
}

.promptsCollection{
  color: black;
  font-size: 32pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prompts{
  display: flex;
  padding: 1rem;
  height: 25%;
}

.promptText{
  position: relative;
  left: -25px;
  top: 4rem;
}

.img{
  max-width: 20%;
}


.projects {
  min-height: 30vh;
  padding: 3rem 3rem;
  color: black;
}

.projectsHeader{
}

.team{
  min-height: 30vh;
  padding: 3rem 3rem;
  background: rgb(87,188,144);
}

.teamHeader{
  color: white;
}