.h1 {
    margin-bottom: 20px;
    margin-right: 40px;
    font-size: 15px;
}

.container {
    width: 100%;
    padding-left: 15px;
    margin-top: 30px;
    background: white;
    border: solid 2px #57BC90;
    border-radius: 0.75rem;
}

.column {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: available;
}

.row {
    margin-top: 18px;
    text-align: center;
    width: 50%;
}

.progressBar {
    width: 45px;
}
